* {
    padding: 0 0;
    margin: 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

html {
    background-color: #202020;
    color: white;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 70px auto 70px;

    grid-gap: 10px;
    padding-top: 10px;
}

header {
    grid-row: 1;
    grid-column: 3 / 15;
    background-color: #7a0099;
    line-height: 70px;

    padding: 0px 10px;
}

header h1 {
    font-weight: 200;
}

main {
    grid-row: 2;
    grid-column: 3 / 15;
}

.login-form {
    /* width: 900px; */
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 90px 90px 90px;
    background-color: #3a0c46;
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
}

.login-form * {
    margin: 20px 30px;
    font-weight: 200;
}

.login-form input {
    border: none;
    padding: 7px 14px;
    outline: none;
    font-size: 20px;
}

.login-form .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    min-width: 100px;
    padding: 10px 10px;
    margin: 0px 0px;
    font-size: 22px;
    /* border: 1px solid #7A0099; */
    border: 1px solid #454545;
    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;
    transition: all ease-in .2s;
}

.btn:hover {
    box-shadow: 0px 0px 1px #454545;
}

footer {
    grid-row: 3;
    grid-column: 3 / 15;
}

.records {
    width: 100%;
    text-align: center;
}

.records thead {
    font-size: 24px;
    line-height: 60px;
}

tbody tr {
    line-height: 40px;
    font-size: 18px;
}

.records .increase {
    color: rgba(82, 255, 82, 0.943);
}

.records .decrease {
    color: rgba(255, 82, 82, 0.943);
}

table {
    border-collapse: collapse;
}

.profile {
    font-weight: 200;
    padding: 20px 20px;
    /* background-color: #3a0c46; */
    background-color: #292929;

    display: grid;
    grid-template-columns: 1fr 5fr;
}

.profile .add-part {
    display: flex;
    flex-direction: column;
    /* padding-left: calc(50% - 340px);
    padding-right: calc(50% - 340px); */
    padding-left: 20px;
    padding-right: 20px;
}

.profile .add-part * {
    margin-bottom: 20px;
}

.add-part input {
    padding: 4px 10px;
    outline: none;
    font-size: 26px;
    color: white;

    border: none;
    /* background-color: rgb(73, 20, 87); */
    background-color: #363636;
}

.profile h2, .profile h1 {
    font-weight: 200;
}

.main-info {
    width: 100%;
    line-height: 50px;
    font-size: 24px;
}

.main-info td {
    padding: 10px 10px;
    background-color: #292929;
}

.main-info thead td {
    background-color: rgba(58, 12, 70, 0.548);
}

.card {
    padding: 10px 10px;
    background-color: #292929;
    margin: 10px 0;
    box-shadow: 0px 3px 6px #202020;
}

.profile .add-part .input-block {
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.input-block input {
    margin-top: 0px;
    margin-bottom: 10px;
}

.input-block .input-label {
    margin-bottom: 4px;
}

.date-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.date-block input {
    margin-right: 5px;
    max-width: 82px;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2e2e2e;
    font-weight: 400;
    cursor: pointer;
}

.edit-tags {
    padding-top: 5px;
    padding-bottom: 5px;
}

.edit-tag {
    background-color: transparent;
    border: 1px solid rgb(98, 98, 98);
    color: rgb(98, 98, 98);
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    font-weight: 200;
}

.tag.active-tag {
    background-color: #393939;
}

.edit-tag.active-tag {
    background-color: transparent;
    border: 1px solid rgb(98, 98, 98);
    color: white;
    background-color: rgb(98, 98, 98);
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    font-weight: 200;
}

.wallet {
    outline: none;
    padding: 7px 12px;
    font-size: 20px;
    border: none;
    /* background-color: #491457; */
    background-color: #393939;
    color: white;
    cursor: pointer;
}

.error {
    font-weight: 250;
    color: rgb(199, 73, 0);
}

.success {
    font-weight: 250;
    color: rgb(73, 199, 0);
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.info-table .fullSum, .info-table .average {
    font-weight: 200;
    text-align: center;
}

.fullSum .value, .average .value {
    line-height: 100px;
    font-size: 60px;
}

.fullSum .label, .average .label {
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, .7);
}

.average .value {
    font-size: 80px;
    line-height: 120px;
}

.remove-btn {
    cursor: pointer;
    padding: 6px 6px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.remove-btn img {
    margin-top: 6px;
}

.profile h2, .profile h3 {
    line-height: 2em;
}

.grayed {
    color: rgba(255, 255, 255, .5);
}

.modalWrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: rgba(50, 50, 50, .7);
    /* backdrop-filter: blur(0px); */
}

.modalFrame {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    box-shadow: 0px 3px 6px #292929;
    color: black;

    min-width: 600px;

    display: grid;
    grid-template-rows: 70px auto;
}

.modalHeader {
    grid-row: 1;
    line-height: 70px;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 0px 20px;
}

.modalContent {
    grid-row: 2;
    padding: 20px 20px;
    background-color: white;
    font-size: 1.2em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-btn {
    border: none;
    color: white;
    background-color: transparent;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
}

.btn-danger {
    background-color: white;
    color: rgb(255, 102, 0);
    border-color: rgb(255, 102, 0);
    transition: all ease-in .2s;
}

.btn-danger:hover {
    background-color: rgb(255, 102, 0);
    color: white;
    border-color: rgb(255, 102, 0);
}

.btn-ok {
    background-color: rgb(47, 255, 109);
    border-color: rgb(47, 255, 109);
    color: white;
    transition: all ease-in .2s;
}

.btn-ok:hover {
    background-color: white;
    border-color: rgb(47, 255, 109);
    color: rgb(47, 255, 109);
}

.modal-close-btn {
    color: rgb(173, 173, 173);
    font-size: 20px;    
    cursor: pointer;
}

.edit-form input {
    line-height: 30px;
    font-size: 24px;
    width: calc(100% - 14px);
    padding: 4px 7px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.edit-form .edit-form-input-group label {
    font-size: 0.7em;
    color: gray;
}

@media screen and (max-width: 1500px) {
    .wrapper {
        grid-template-columns: repeat(3, 30px) repeat(10, 1fr) repeat(3, 30px);
    }
}

@media screen and (max-width: 1200px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .profile {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-row-gap: 40px;
    }

    .profile .add-part {
        padding-right: 0px;
        padding-left: 0px;
    }

    .wrapper {
        grid-template-columns: repeat(3, 5px) repeat(10, 1fr) repeat(3, 5px);
        grid-gap: 0px;
    }

    .login-form {
        padding: 0 0;
        margin: 0 0;
    }

    .login-from input {
        width: 100%;
    }

    .input-block {
        width: unset;
    }

    .input-block input {
        width: calc(100% - 20px);
    }
}

.historyRange {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

.historyRange div.ranger {
    padding: 7px 14px;
    border: 1px solid rgb(50, 50, 50);
    cursor: pointer;
}

div.ranger:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

div.ranger:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

div.ranger.active {
    /* background-color: rgb(199, 73, 0); */
    background-color: #04E762;
    color: black;
}